ion-item {
    position: relative;
    text-align: center;
    img {
        width: stretch;
    }
    ion-card-title {
        position: absolute;
        top: 30%;
        width: 100%;
    }
    ion-card-subtitle {
        position: absolute;
        top: 50%;
        width: 100%;
    }
}