<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12" size-lg="4">
        <ion-card *ngIf="dish">
          <img src="{{BaseURL + dish.image + ext}}" alt={{dish.name}}/>
          <ion-card-header>
            <ion-card-subtitle>Dish of the Week</ion-card-subtitle>
            <ion-card-title>
              {{dish.name | uppercase}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{dish.description}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4">
        <ion-card *ngIf="promotion">
          <img src="{{BaseURL + promotion.image + ext}}" alt={{promotion.name}}/>
          <ion-card-header>
            <ion-card-subtitle>Best Deal</ion-card-subtitle>
            <ion-card-title>
              {{promotion.name | uppercase}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{promotion.description}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="4">
        <ion-card *ngIf="leader">
          <img src="{{BaseURL + leader.image + ext}}" alt={{leader.name}}/>
          <ion-card-header>
            <ion-card-subtitle>Super Worker {{leader.designation}} </ion-card-subtitle>
            <ion-card-title>
              {{leader.name | uppercase}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>{{leader.description}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [hidden]="dish || errMess">
    <ion-card>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-card-header>
        <ion-card-subtitle>Dish of the Week</ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle><ion-skeleton-text animated></ion-skeleton-text></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="errMess && !dish">
    <h2>Error</h2>
    <h4> {{errMess}} </h4>
  </div>
  
  <div [hidden]="promotion || errMess">
    <ion-card>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-card-header>
        <ion-card-subtitle>Best Deal</ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle><ion-skeleton-text animated></ion-skeleton-text></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="errMess && !promotion">
    <h2>Error</h2>
    <h4> {{errMess}} </h4>
  </div>
  
  <div [hidden]="leader || errMess">
    <ion-card>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-card-header>
        <ion-card-subtitle>Super Worker </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle><ion-skeleton-text animated></ion-skeleton-text></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="errMess && !leader">
    <h2>Error</h2>
    <h4> {{errMess}} </h4>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button close-icon="close" size="small" color="danger">
      <ion-icon name="chevron-up-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button size="small" color="light">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="primary">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="dark">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
